.block {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.riscado {
    text-decoration: line-through;
    opacity: 40%;
}

.circulado {
    font-size: 24px;
    font-weight: bold;
    color: #ff0000;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.custom-checkbox {
    width: 27px;
    height: 27px;
}

.custom-checkbox2 {
    width: 27px;
    height: 27px;
}

.custom-checkbox:checked {
    background-color: #198754;
    border-color: #198754;
}

.custom-checkbox2:checked {
    background-color: #cc0d0d;
    border-color: #cc0d0d;
}

.custom-checkbox:focus {
    box-shadow: none;
}

.custom-checkbox2:focus {
    box-shadow: none;
}

.accordion-button:focus {
    box-shadow: none;
}

.navbar1 {
    padding: 10px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

.fixo-rodape {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}