.block {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.riscado {
    text-decoration: line-through;
    opacity: 40%;
}

.circulado {
    font-size: 24px;
    font-weight: bold;
    color: #ff0000;
    /* Cor do texto */
    text-shadow:
        -1px -1px 0 #000,
        /* Sombra superior esquerda (preta) */
        1px -1px 0 #000,
        /* Sombra superior direita (preta) */
        -1px 1px 0 #000,
        /* Sombra inferior esquerda (preta) */
        1px 1px 0 #000;
    /* Sombra inferior direita (preta) */

}


.highlight {
    background-color: rgb(255, 0, 0);
}

.custom-checkbox {
    width: 27px;
    height: 27px;
}

.custom-checkbox2 {
    width: 27px;
    height: 27px;
}

.custom-checkbox:checked {
    background-color: #198754; /* Cor verde quando marcado */
    border-color: #198754; /* Cor da borda do checkbox quando marcado */
}

.custom-checkbox2:checked {
    background-color: #cc0d0d; /* Cor verde quando marcado */
    border-color: #cc0d0d; /* Cor da borda do checkbox quando marcado */
}

/* Remover a sombra de foco */
.custom-checkbox:focus {
    box-shadow: none;
}

.custom-checkbox2:focus {
    box-shadow: none;
}